*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(p1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: whitesmoke;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
}
ul li{
    list-style:none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration:none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: coral;
}

.search{
    width: 330px;
    float: left;
    margin-left: 650px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid coral;
    margin-top: 13px;
    color: aliceblue;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn
{
    width: 100px;
    height: 40px;
    background: coral;
    border: 2px solid coral;
    margin-top: 13px;
    color: aliceblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cntak{
    width: 160px;
    height: 40px;
    background: coral;
    border: white;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cntak a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cntak:hover{
    background-color: aliceblue;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 120px;
    left: 1020px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: coral;
    font-size: 22px;
    border-color: white;
    border-radius: 10px; 
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid coral;
    border-top: whitesmoke;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
::placeholder{
    color: white;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: coral;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}

.btnn:hover{
    background: white;
    color: coral;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: Arial;
    font-size: 17px;
    padding: top 20px; 
    text-align: center;   
}
.form.link a{
    text-decoration: none;
    color: coral;
}

/* second page (log in page) */

.main2{
    width: 100%;
    background: url(p-2.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.logs{
    color: whitesmoke;
    font-size: 35px;
    font-family: Arial;
    padding-left: 40px;
    float: left;
    padding-top: 10px;
}

/* click here for more page */
.main3{
    width: 100%;
    background: url(p4.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.mre{
    color: whitesmoke;
    font-size: 25px;
    font-family: Arial;
    padding-left: 40px;
    float: left;
}

@media screen and (max-width:1200px) {
    .navbar {
        width: 100%;
        height: 100px;
    }
    ul{
        margin-left: 30px;
    }
    ul li{
        margin-left: 60px;
    }
    ul li a{
        font-size: 1.6vw;
    }
    .search{
        margin-top: 3px;
        margin-left: 290px;
    }
    .srch{
        height: 40px;
        width: 190px;
        font-size: 14px;
    }
    .btn{
        height: 40px;
        width: 80px;
    }
    .content{
        width: 100%;
    }
    .content h1, .content span{
        font-size: 4.5vw;
    }
    .content .para{
        width: 90%;
        font-size: 1.5vw;
    }
    .content .cntak{
        width: 13%;
        height: 3.5vw;
        font-size: 1.8vw;
    }
    .content a{
        font-size: 1.6vw;
    }
}

@media screen and (max-width:1170) {
   .main{
    padding-left: 20px;
    height: 180vh;
   }

   .form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 120px;
    left: 1020px;
    border-radius: 10px;
    padding: 25px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid coral;
    border-top: whitesmoke;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
    

} 